{% extends 'academic/base.html' %}

{% block title %}Página no encontrada{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 text-center py-5">
        <h1 class="display-1 fw-bold text-danger" style="font-size: 8rem;">404</h1>
        <h2 class="mb-4">¡Esta magia no existe!</h2>
        <p class="lead text-muted">Parece que te has perdido. La ruta que estás intentando buscar no figura en nuestros hechizos de programación.</p>
        <a href="/" class="btn btn-primary btn-lg mt-4">Volver al Inicio</a>
    </div>
</div>
{% endblock %}
